<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vote.name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @vote.restaurant.name %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
